<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- White -->
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>

	<!-- Black -->
	<material name="black">
		<color rgba="0 0 0 1"/>
	</material>


	<!-- BASE_LINK -->

	<link name="base_link">
		<visual>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_Base.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_Base.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.0055"/>
			<inertia ixx="8.83e-7" ixy="0.0" ixz="0.0"
			         iyy="8.83e-7" iyz="0.0"
			         izz="1.317e-6"/>
		</inertial>
	</link>

	<!-- FIRST_ARM -->

	<joint name="first_arm_joint" type="continuous">
		<parent link="base_link"/>
		<child link="first_arm"/>
		<origin xyz="0 0 0.003" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="first_arm">
		<visual>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_1.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_1.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.004245"/>
			<inertia ixx="1.182e-6" ixy="0.0" ixz="-9.68e-7"
			         iyy="2.266e-6" iyz="0.0"
			         izz="1.265e-6"/>
		</inertial>
	</link>

	<joint name="first_arm_upper_joint" type="continuous">
		<parent link="first_arm"/>
		<child link="first_arm_upper"/>
		<origin xyz="0.0433013 0 0.05150" rpy="0 -1.0472 0"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="first_arm_upper">
		<visual>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.00341"/>
			<inertia ixx="8.64e-7" ixy="0.0" ixz="-3.61e-7"
			         iyy="1.098e-6" iyz="0.0"
			         izz="2.62e-7"/>
		</inertial>
	</link>


	<!-- SECOND_ARM -->

	<joint name="second_arm_joint" type="continuous">
		<parent link="base_link"/>
		<child link="second_arm"/>
		<origin xyz="0 0 0.011" rpy="0 0 2.0944"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="second_arm">
		<visual>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_2.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_2.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.003916"/>
			<inertia ixx="7.75e-7" ixy="0.0" ixz="-7.51e-7"
			         iyy="1.835e-6" iyz="0.0"
			         izz="1.239e-6"/>
		</inertial>
	</link>

	<joint name="second_arm_upper_joint" type="continuous">
		<parent link="second_arm"/>
		<child link="second_arm_upper"/>
		<origin xyz="0.0433013 0 0.04350" rpy="0 -1.0472 0"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="second_arm_upper">
		<visual>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.00341"/>
			<inertia ixx="8.64e-7" ixy="0.0" ixz="-3.61e-7"
			         iyy="1.098e-6" iyz="0.0"
			         izz="2.62e-7"/>
		</inertial>
	</link>


	<!-- THIRD_ARM -->

	<joint name="third_arm_joint" type="continuous">
		<parent link="base_link"/>
		<child link="third_arm"/>
		<origin xyz="0 0 0.019" rpy="0 0 -2.0944"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="third_arm">
		<visual>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_3.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_arm_3.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.003628"/>
			<inertia ixx="4.78e-7" ixy="0.0" ixz="-5.44e-7"
			         iyy="1.514e-6" iyz="0.0"
			         izz="1.212e-6"/>
		</inertial>
	</link>


	<joint name="third_arm_upper_joint" type="continuous">
		<parent link="third_arm"/>
		<child link="third_arm_upper"/>
		<origin xyz="0.0433013 0 0.03550" rpy="0 -1.0472 0"/>
		<axis xyz="0 0 1"/>
	</joint>

	<link name="third_arm_upper">
		<visual>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<origin rpy="0 0 3.141592"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_upper_arm.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.00341"/>
			<inertia ixx="8.64e-7" ixy="0.0" ixz="-3.61e-7"
			         iyy="1.098e-6" iyz="0.0"
			         izz="2.62e-7"/>
		</inertial>
	</link>


	<!-- PLATFORM -->

	<!-- <joint name="platform_joint" type="continuous">
		<parent link="first_arm_upper"/>
		<child link="platform"/>
		<origin xyz="-0.022805 0 0.050" rpy="0 1.5707 0"/>
	</joint>

	<link name="platform">
		<visual>
			<origin rpy="0 0 -0.523"/>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_platform.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://spm_robot/description/meshes/SPM_platform.stl"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.003053"/>
			<inertia ixx="4.84e-7" ixy="0.0" ixz="0.0"
			         iyy="9.44e-6" iyz="0.0"
			         izz="4.84e-6"/>
		</inertial>
	</link> -->

</robot>
